

.button {
    -fx-background-color:
            linear-gradient(#F7E7CE, #D4AF37),

            linear-gradient(#F7E7CE, #F7E7CE);

    -fx-text-fill: #4F310D;

    -fx-font-weight: bold;

    -fx-font-size: 14px;

    -fx-padding: 10 20;

    -fx-border-color: #9C7C23;

    -fx-border-width: 2;

    -fx-border-radius: 8;

    -fx-background-radius: 8;

    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 1);
}


.button:hover {
    -fx-background-color:
            linear-gradient(#F7E7CE, #E3C2A1),

            linear-gradient(#F7E7CE, #E3C2A1);

    -fx-text-fill: #000000;
}


.button:pressed {
    -fx-background-color:
            linear-gradient(#C9A63F, #967524),

            linear-gradient(#B88E33, #6F5015);

    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 2);
}
